<div class="row" style="float: left">
  <ul id="slide-out" class="side-nav fixed light-blue lighten-4 col s2 collection" style="margin-top:65px; padding: 0%">
    <!--<li><div class="userView">
      <div class="background">
        <!--<img src="images/office.jpg">-->
      <!--</div>-->
      <!--<a href="#!user"><img class="circle" src="images/yuna.jpg"></a>-->
      <!--<a href="#!name"><span class="white-text name">John Doe</span></a>-->
      <!--<a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>-->
    <!--</div></li>-->
    <!--<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>-->
    <!--<li><a href="#!">Second Link</a></li>-->
    <!--<li><div class="divider"></div></li>-->
    <!--<li><a class="subheader">Subheader</a></li>-->
    <!--<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>&ndash;&gt;-->
    <li *ngFor="let storage of storages" class="collection-item avatar light-blue lighten-3 hoverable" style="border: 1px solid #616161; margin: 1%">
      <div><a href="#!storage"><img src="http://www.sentryselfstorage.co.uk/images/indoor-corridor.gif" alt="" class="circle"></a>
      <p>{{ storage.name }}</p>
      </div>
    </li>
  </ul >
</div>
