<nav class="top-nav light-blue lighten-4" style="position: fixed; z-index:5; " >
  <div class="nav-wrapper">
    <a href="#" class="brand-logo grey-text text-darken-2">Storage management</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a (click)="navHome()" class="grey-text text-darken-2">Home</a></li>
      <li><a (click)="navList()" class="grey-text text-darken-2">Product list</a></li>
      <li><a (click)="navAbout()" class="grey-text text-darken-2">About</a></li>
    </ul>
  </div>
</nav>
